<div>
  <h1>Your Active Jobs</h1>
  <%= link_to 'Create new job?', new_job_path, :id => "new_job_expand" %>
</div>

<div id="new_job_form" style="display:none;">
  <%= render :partial => "shared/newJob", :locals => { :form_state => "new_job" } %>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Pages</th>
    <th>Browsers</th>
    <th>Interval</th>
    <th>Last</th>
    <th>Next</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= urls_block job, job.urls_hash %></td>
    <td>
      <!-- >
      <div id="browser_buttons">
        <input type="checkbox" name="firefox_check" value="chrome:3" id="firefox_check"/><label for="firefox_check"><%= image_tag("img-firefox.png", :alt => "Fire Fox", :size => "60x60")%></label>
        <input type="checkbox" name="safari_check" value="safari:4" id="safari_check" /><label for="safari_check"><%= image_tag("img-safari.png", :alt => "Safari", :size => "60x60")%></label>
        <input type="checkbox" name="chrome_check" value="googlechrome:" id="chrome_check" /><label for="chrome_check"><%= image_tag("img-chrome.png", :alt => "Chrome", :size => "60x60")%></label>
        <input type="checkbox" name="iexplorer8_check" value="iexplore:8" id="iexplorer8_check"/><label for="iexplorer8_check"><%= image_tag("img-ie8.png", :alt => "IE8", :size => "60x60")%></label>
        <input type="checkbox" name="iexplorer7_check" value="iexplore:7" id="iexplorer7_check" /><label for="iexplorer7_check"><%= image_tag("img-ie7.png", :alt => "IE7", :size => "60x60")%></label>
        <input type="checkbox" name="iexplorer6_check" value="iexplore:6" id="iexplorer6_check" /><label for="iexplorer6_check"><%= image_tag("img-ie6.png", :alt => "IE6", :size => "60x60")%></label>
      </div>
      -->
      <%= browser_block job, job.browsers_hash %>
    </td>
    <td>
      <%= job.interval%>
    </td>
  </tr>
  <% end %>
</table>


