<h1>Listing jobs</h1>

<ul class="job_list">
<% @jobs.each do |job| %>
  <li>
    <a href="/job/<%=job.id%>">Job <%=job.id%><%=job.status%><%=job.last_run%></a>
    <ul class="batch_list">
      <% job.batches.each do |batch| %>
        <li>
          Batch <%= batch.id %>
          <%= batch.status %>
          <% batch.screenshots.each do |screenshot|%>
          <p><a href="<%=h screenshot.screenshot_path %>" target="_blank"><%= image_tag(screenshot.icon, :alt => screenshot.pretty_name, :size => "30x30")%> <%= screenshot.url %></a></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New job', new_job_path %>