<div class="section_header"> 
  <h1>Your Active Jobs</h1>
  <%= link_to 'Create new job?', new_job_path, :id => "new_job_expand" %>
</div>

<div id="new_job_form" style="display:none;">
  <%= render :partial => "shared/newJob", :locals => { :form_state => "new_job" } %>
</div>

<table class="job_list">
  <tr class="header_row">
    <th>ID</th>
    <th>Pages</th>
    <th>Browsers</th>
    <th>Interval</th>
    <th>Save</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td class="id_block"><%= job.id %></td>
    <td class="urls_block"><%= urls_block job, job.urls_hash %></td>
    <td class="browsers_block">
      <%= browser_block job, job.browsers_hash %>
    </td>
    <td class="interval_block">
      <select name="short_time" id="short_time">
        <!--
           <option value="1">Every day</option>
        <option value="24">Every hour</option>
        <option value="1440">Every minute</option>
        -->
      <% [{:value => 1400, :rel => 1,    :message => "Every day"},
          {:value => 60,   :rel => 24,   :message => "Every hour"},
          {:value => 1,    :rel => 1440, :message => "Every minute"}].each do |option| %>
        <option value="<%= option[:value] %>" rel="<%= option[:rel] %>" <% if option[:value] == job.interval %>selected="selected"<% end %>><%= option[:message] %></option>
      <% end %>
      </select>

    </td>
    <td class="button_block">
      <button class="update_job_button">Update Job</button>
    </td>
    <td class="delete_block">
      <a href="#">Delete X</a>
    </td>
  </tr>
  <% end %>
</table>


