<div class="section_header"> 
  <h1>Your Active Jobs</h1>
  <%= link_to 'Create new job?', new_job_path, :id => "new_job_expand" %>
</div>

<div id="new_job_form" style="display:none;">
  <%= render :partial => "shared/newJob", :locals => { :form_state => "new_job" } %>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Pages</th>
    <th>Browsers</th>
    <th>Interval</th>
    <th>Last</th>
    <th>Next</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= urls_block job, job.urls_hash %></td>
    <td>
      <%= browser_block job, job.browsers_hash %>
    </td>
    <td>
      <%= job.interval%>
    </td>
  </tr>
  <% end %>
</table>


