<h1>Listing jobs</h1>

<ul class="job_list">
<% @jobs.each do |job| %>
  <li>
    <a href="/job/<%=job.id%>" class="job_link">Job <%=job.id%><%=job.status%><%=job.last_run%>, <%=job.batches.count%> Batches</a>
    <ul class="batch_list">
      <% job.batches.each do |batch| %>
        <li>
          <a href="/batch/<%=batch.id%>" class="batch_link">Batch <%= batch.id %> <cite><%= batch.status %></cite> <%=batch.screenshots.count%> Shots</a>
          <ul class="shot_list">
          <% batch.screenshots.each do |screenshot|%>
            <li>
              <a href="<%=h screenshot.screenshot_path %>" target="_blank">
                <%= image_tag(screenshot.icon, :alt => screenshot.pretty_name, :size => "30x30")%>
                <span><%= screenshot.url %></span>
              </a>
            </li>
          <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
