<span style="color: green"><%= notice %></span>

<div id="header">
    <div id="logo_container">
      <%= link_to "3Shots.com", root_url, :id => 'logo' %>
    </div>
    
    <div id="nav_links" <%unless current_user %>style="display:none;"<% end %>>
      <%= link_to "Shots", shots_path %>
      <%= link_to "Jobs", jobs_path %>
      <%= link_to "Orders", orders_path %>
    </div>
    
    <div id="account_links">
      <% if current_user %>
        <%= link_to "Manage Account", edit_user_path(:current), :class => 'manage_account_link' %>
        <%= link_to "Logout", logout_path, :class => 'logout_link' %>
      <% else %>
        <%= link_to "Register", new_user_path, :class=>'register_link' %>
        <%= link_to "Login", login_path, :class => 'login_link' %>
      <% end %>
    </div>
</div>
