<div id="steps">
    <form id="step_form">
      <div id="step1" class="step">
        <p class="action_header"><strong>Step 1 -</strong> List your pages</p>
        <div id="input_steps">
          <input type="text" />
        </div>
        <a href="#">Add Another</a>
      </div>
      
      <div id="step2" class="step">
        <p class="action_header"><strong>Step 2 -</strong> Pick your browsers</p>
        <div id="browser_buttons">
          <input type="checkbox" name="firefox_check" value="chrome:3" id="firefox_check"/><label for="firefox_check"><!--<span class="free_tag">Free</span>--><%= image_tag("img-firefox.png", :alt => "Fire Fox", :size => "60x60")%></label>
          <input type="checkbox" name="safari_check" value="safari:4" id="safari_check" /><label for="safari_check"><%= image_tag("img-safari.png", :alt => "Safari", :size => "60x60")%></label>
          <input type="checkbox" name="chrome_check" value="googlechrome:" id="chrome_check" /><label for="chrome_check"><%= image_tag("img-chrome.png", :alt => "Chrome", :size => "60x60")%></label>
          <input type="checkbox" name="iexplorer8_check" value="iexplore:8" id="iexplorer8_check"/><label for="iexplorer8_check"><!--<span class="free_tag">Free</span>--><%= image_tag("img-ie8.png", :alt => "IE8", :size => "60x60")%></label>
          <input type="checkbox" name="iexplorer7_check" value="iexplore:7" id="iexplorer7_check" /><label for="iexplorer7_check"><%= image_tag("img-ie7.png", :alt => "IE7", :size => "60x60")%></label>
          <input type="checkbox" name="iexplorer6_check" value="iexplore:6" id="iexplorer6_check" /><label for="iexplorer6_check"><%= image_tag("img-ie6.png", :alt => "IE6", :size => "60x60")%></label>
        </div>
      </div>
      
      <div id="step3" class="step">
        <p class="action_header"><strong>Step 3 -</strong> Set an interval</p>
        <p>
          <select name="short_time" id="short_time">
            <!--
            <option value="1">Every day</option>
            <option value="24">Every hour</option>
            <option value="1440">Every minute</option>
            -->
            <option value="1440" rel="1">Every day</option>
            <option value="60" rel="24">Every hour</option>
            <option value="1" rel="1440">Every minute</option>
          </select>
        </p>
        <p>
          For a Month
          <!--
          <select name="long_time" id="long_time">
            <option value="1">For a Day</option>
            <option value="7">For a Week</option>
            <option value="30">For a Month</option>
            <option value="365">For a Year</option>
          </select>
          -->
        </p>
      </div>
      
      <div id="step4" class="step">
        <p class="action_header"><strong>Your Total</strong></p>
        <ul>
          <li><span id="page_total">0</span> - <span id="page_suffix">pages</span></li>
          <li ><span id="browsers_total">0</span> - <span id="browsers_suffix">browsers</span></li>
          <li ><span id="shot_total">30</span> - <span id="shot_suffix">shots per month</span></li>
          <li><br /></li>
          <li><span id="total_price">0</span> Total shots</li>
          <li><br /></li>
        <ul>
      </div>
    </form>

    <% if form_state == "new_job" %>
    <button id="create_job">Create Job</button>
    <% elsif form_state == "new_order" %>
    <button id="checkout_btn">Check Out</button>
    <% end %>
</div>
