<div class="section_header">
  <h1>Your Recent Orders</h1>
  <%= link_to 'New order?', new_order_path, :id => "new_order_expand" %>
</div>

<%= render :partial => "shared/newOrder" %> 

<table>
  <tr>
    <th>Date</th>
    <th>Price</th>
    <th>Shots</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.created_at %></td>
    <td><%=h number_to_currency(order.price) %></td>
    <td><%=h order.shots %></td>
  </tr>
<% end %>
</table>

<br />

