<h1>New order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>
  <% if @order.express_token.blank? %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>
  <% else %>
    <h1>Payment Confirmation</h1>
    <p>Name: <%=h @order.first_name%> <%=h @order.last_name%></p>
    <p>Price: $0.00</p>
    <%= f.hidden_field :express_token %>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>