<p>
  <b>User:</b>
  <%=h @order.user_id %>
</p>

<p>
  <b>Browsers:</b>
  <%=h @order.browsers %>
</p>

<p>
  <b>Interval:</b>
  <%=h @order.interval %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>