<h1>View your Shots</h1>

<ul class="job_list">
<% @jobs.each do |job| %>
  <li>
    <a href="/job/<%=job.id%>" class="job_link">Job <%=job.id%><%=job.status%><%=job.last_run%>, <%=job.batches.count%> Batches</a>
    <ul class="batch_list">
      <% job.batches.each do |batch| %>
        <li>
          <a href="/batch/<%=batch.id%>" class="batch_link">Batch <%= batch.id %> <cite><%= batch.status %></cite> <%=batch.screenshots.count%> Shots</a>
          <ul class="shot_list">
            <% batch.groups.each do |group|%> 
            <li>  
            <% group[:screenshots].each do |screenshot|%>
                <a href="<%=h screenshot.screenshot_path %>" target="_blank" rel="shot_link" title="Job - <%= job.id %> Batch - <%= batch.id %>  <%= screenshot.pretty_name %> <%= group[:url] %>">
                  <%= image_tag(screenshot.icon, :alt => screenshot.pretty_name, :size => "30x30")%>
                </a>
            <% end %>
            <span><%= group[:url] %></span>   
            </li>
            <% end %> 
          </ul>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
