<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>3Shots <%= controller.action_name %></title>
	<%= stylesheet_link_tag("screen") %>
	<%= stylesheet_link_tag('scaffold') %>
	<!--
	<script src="/bundle/<%=params[:controller]%>/<%=params[:action]%>"></script>
	<script src="/cache/">
	-->
	
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	 
	<script src="/javascripts/vendor/jquery.min.js"></script>
	<script src="/javascripts/vendor/jquery-ui.min.js"></script>
	
	<script src="/javascripts/vendor/jquery.validationEngine-en.js"></script>
	<script src="/javascripts/vendor/jquery.validationEngine.js"></script> 
	        
	<script src="/javascripts/lib/Object.js"></script>
	<script src="/javascripts/lib/String.js"></script>
          
	        
	<script src="/javascripts/jCore.js"></script>
	        
	<script src="/javascripts/modules/login.js"></script>
  <script src="/javascripts/modules/register.js"></script>
	<script src="/javascripts/modules/broForm.js"></script>
	<script src="/javascripts/modules/step1.js"></script>
	<script src="/javascripts/modules/step2.js"></script>
	<script src="/javascripts/modules/step3.js"></script>
	<script src="/javascripts/modules/step4.js"></script>
	<script src="/javascripts/modules/stepControl.js"></script>
	<script src="/javascripts/modules/credControl.js"></script>
	<script src="/javascripts/modules/accountManager.js"></script>
	<script src="/javascripts/modules/payment.js"></script>
	<script src="/javascripts/modules/details.js"></script>
	<script src="/javascripts/modules/shotList.js"></script>
          
  <script src="/javascripts/vendor/json2.js"></script>
	<script src="/javascripts/vendor/jquery.disable.js"></script>
	<script src="/javascripts/vendor/jquery.colorbox.js"></script>
	<script src="/javascripts/vendor/facebox.js"></script>
	<script type="text/javascript">
	$.core.registerModules('step1, step2, step3, step4, stepControl, credControl, accountManager, login, register, payment, details, shotList');
	 $(document).ready(function(){
	    $.core.init();
	    $("#account_links").accountManager();
	    $("#login").login();
	    $("#register").register();
	    $('#step1').step1();
	    $('#step2').step2();
	    $('#step3').step3();
	    $('#step4').step4();
	    $("#steps").stepControl();
	    $("#creds").credControl();
	    $("#details").details();
	    $("#payment").payment();
	    $(".job_list").shotList();
	 });
	</script>
	

</head>
<body>
  <div id="wrapper">
    <div id="main">
    <%= render :partial => "shared/header" %>
    <%= yield %>
    <%= render :partial => "shared/footer" %>
    </div>
  </div>
</body>
</html>
