<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>SeanShots <%= controller.action_name %></title>
	<%= stylesheet_link_tag("screen") %>
	<%= stylesheet_link_tag('scaffold') %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
	        
	<script src="/javascripts/lib/Object.js"></script>
	<script src="/javascripts/lib/String.js"></script>
          
	        
	<script src="/javascripts/jCore.js"></script>
	        
	<script src="/javascripts/modules/login.js"></script>
  <script src="/javascripts/modules/register.js"></script>
	<script src="/javascripts/modules/broForm.js"></script>
	<script src="/javascripts/modules/accountManager.js"></script>
	<script src="/javascripts/modules/jobList.js"></script>

          
  <script src="/javascripts/vendor/json2.js"></script>
	<script src="/javascripts/vendor/jquery.disable.js"></script>
	<script src="/javascripts/vendor/facebox.js"></script>
	<script src="/javascripts/vendor/jquery.colorbox.js"></script>

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
	$.core.registerModules('accountManager, login, register, broForm, jobList');
	 $(document).ready(function(){
	    $.core.init();
	    $("#account_links").accountManager();
	    $("#login").login();
	    $("#register").register();
	    $(".job_list").jobList();
	 });
	</script>

</head>
<body>
  <div id="wrapper">
    <div id="main">
    <%= render :partial => "shared/header" %>
    <%= yield %>
    <%= render :partial => "shared/footer" %>
    </div>
  </div>
</body>
</html>